html,
body {
	height: 100%;
}

body {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	font-size: 20px;
	line-height: 1.4;
	color: #fff;
	background-color: $bg-color;
	overflow-x: hidden;

	@include mq('desktop'){
		font-size: 18px;
	}
}



.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.container {
	max-width: 1470px;
	padding: 0 15px;
	margin: 0 auto;

	@include mq('desktop-2'){
		max-width: 1230px;
	}
}

.title {
	font-size: 48px;
	font-weight: 500;

	@include mq('phone'){
		font-size: 32px;
	}
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.main {
	flex: 1 0 auto;
}


.footer {
	flex: 0 0 auto;
}

.btn {
	font-size: 18px;
	font-weight: 400;
	padding: 9px 25px;
	color:#fff;
	background-color: $accent;
	box-shadow: 0px 10px 30px rgba(64, 106, 255, 0.24);
	border-radius: 30px;
}
