<section class="achievements" id="target">
	<div class="container">
		<ul class="achievements__list">
			<li class="achievements__item">
				<div class="counter">
					<span class="counter__number" data-to="9854"></span>
					<h3 class="counter__text">Projects
						completed</h3>
				</div>
			</li>
			<li class="achievements__item">
				<div class="counter">
					<span class="counter__number" data-to="840"></span>
					<h3 class="counter__text">Clients</h3>
				</div>
			</li>
			<li class="achievements__item">
				<div class="counter">
					<span class="counter__number" data-to="321"></span>
					<h3 class="counter__text">Active 
						clients</h3>
				</div>
			</li>
			<li class="achievements__item">
				<div class="counter">
					<span class="counter__number" data-to="5410"></span>
					<h3 class="counter__text">cups
						of cofee</h3>
				</div>
			</li>
			<li class="achievements__item">
				<div class="counter">
					<span class="counter__number" data-to="9854"></span>
					<h3 class="counter__text">Projects
						completed</h3>
				</div>
			</li>
		</ul>
	</div>
</section>