<section class="blog">
	<div class="container">
		<h2 class="blog__title title">
			Blog
		</h2>
		<ul class="blog__list">
			<li class="blog__item">
				<div class="blog-card">
					<div class="blog-card__image">
						<img class="blog-card__img" src="../images/blog/1.jpg" alt="blog1">
						<span class="blog-card__category">Techno</span>
					</div>
					<div class="blog-card__content">
						<div class="blog-card__info">
							<div class="blog-card__date">07/04/2021</div>
							<div class="blog-card__like">1502</div>
						</div>
						<h3 class="blog-card__title">Tik tok Banned in India</h3>
						<p class="blog-card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Blandit id fringilla turpis tempor enim. Vel tristique suspendisse eget sodales egestas. Donec duis lacus, odio velit</p>
					</div>
					</div>
					
			</li>
			<li class="blog__item">
				<div class="blog-card">
					<div class="blog-card__image">
						<img class="blog-card__img" src="../images/blog/2.jpg" alt="blog2">
						<span class="blog-card__category">Techno</span>
					</div>
					<div class="blog-card__content">
						<div class="blog-card__info">
							<div class="blog-card__date">07/04/2021</div>
							<div class="blog-card__like">1502</div>
						</div>
						<h3 class="blog-card__title">Lorem ipsum</h3>
						<p class="blog-card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Blandit id fringilla turpis tempor enim. Vel tristique suspendisse eget sodales egestas. Donec duis lacus, odio velit</p>
					</div>
					</div>
					
			</li>
			<li class="blog__item">
				<div class="blog-card">
					<div class="blog-card__image">
						<img class="blog-card__img" src="../images/blog/3.jpg" alt="blog3">
						<span class="blog-card__category">Techno</span>
					</div>
					<div class="blog-card__content">
						<div class="blog-card__info">
							<div class="blog-card__date">07/04/2021</div>
							<div class="blog-card__like">1502</div>
						</div>
						<h3 class="blog-card__title">Lorem ipsum</h3>
						<p class="blog-card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Blandit id fringilla turpis tempor enim. Vel tristique suspendisse eget sodales egestas. Donec duis lacus, odio velit</p>
					</div>
					</div>
					
			</li>
		</ul>
	</div>
</section>