<section class="clients">
	<div class="container">
		<h2 class="clients__title title">
			Clients
		</h2>
		<ul class="clients__list">
			<li class="clients__item">
				<img class="clients__img" src="images/clients/1.png" alt="client1">
			</li>
			<li class="clients__item">
				<img class="clients__img" src="images/clients/2.png" alt="client2">
			</li>
			<li class="clients__item">
				<img class="clients__img" src="images/clients/3.png" alt="client3">
			</li>
			<li class="clients__item">
				<img class="clients__img" src="images/clients/4.png" alt="client4">
			</li>
			<li class="clients__item">
				<img class="clients__img" src="images/clients/5.png" alt="client5">
			</li>
			<li class="clients__item">
				<img class="clients__img" src="images/clients/6.png" alt="client6">
			</li>
			<li class="clients__item">
				<img class="clients__img" src="images/clients/7.png" alt="client7">
			</li>
		</ul>
	</div>
</section>