<section class="contacts">
	<div class="container">
		<h2 class="contacts__title title">
			Contact us
		</h2>
		<div class="contacts__inner">
			<form class="contacts__form contact-form" action="#">
				<label class="contact-form__label" for="">
					Name
					<input class="contact-form__input" type="text" placeholder="Name here" name="name">
				</label>
				<label class="contact-form__label" for="">
					Last name
					<input class="contact-form__input" type="text" placeholder="Last name here" name="last-name">
				</label>
				<label class="contact-form__label" for="">
					Email
					<input class="contact-form__input" type="email" placeholder="Example@mail.eru" name="email">
				</label>
				<label class="contact-form__label" for="">
					Message
					<textarea class="contact-form__textarea" placeholder="Start typing" name="message"></textarea>
				</label>
				<button class="contact-form__btn btn" type="submit">Send message</button>
			</form>
			<!-- <div class="contacts__content">
				<div class="contacts__mobile mobile-box">
					<h3 class="contacts__label">
						Mobile number
					</h3>
					<ul class="mobile-box__list">
						<li class="mobile-box__item">
							<span class="mobile-box__number">+1 252-937-3762</span>
							<a class="mobile-box__link btn" href="tel:+12529373762" >Call</a>
						</li>
						<li class="mobile-box__item">
							<span class="mobile-box__number">+1 252-937-3762</span>
							<a class="mobile-box__link btn" href="tel:+12529373762" >Call</a>
						</li>
					</ul>
				</div>
				<div class="contacts__email email-box">
					<h3 class="contacts__label">
						E-mail
					</h3>
					<ul class="email-box__list">
						<li class="email-box__item">
							<a href="mailto:sample@example.com">sample@example.com</a>
						</li>
					</ul>
				</div>
				<div class="contacts__adress adress-box">
					<h3 class="contacts__label">
						Adress
					</h3>
					<ul class="adress-box__list">
						<li class="adress-box__item">
							5 Indian Spring Dr.
 Mundelein, IL 60060
						</li>
					</ul>
				</div>
			</div> -->
			<ul class="contacts__content">
				<li class="contacts__box mobile-box">
					<h3 class="contacts__label contacts__label--mobile">
						Mobile number
					</h3>
					<ul class="contacts__list">
						<li class="contacts__item">
							<span class="contacts__number">+1 252-937-3762</span>
							<a class="contacts__link btn" href="tel:+12529373762" >Call</a>
						</li>
						<li class="contacts__item">
							<span class="contacts__number">+1 252-937-3762</span>
							<a class="contacts__link btn" href="tel:+12529373762" >Call</a>
						</li>
					</ul>
				</li>
				<li class="contacts__box email-box">
					<h3 class="contacts__label contacts__label--email">
						E-mail
					</h3>
					<ul class="contacts__list">
						<li class="contacts__item">
							<a href="mailto:sample@example.com">sample@example.com</a>
						</li>
					</ul>
				</li>
				<li class="contacts__box adress-box">
					<h3 class="contacts__label contacts__label--adress">
						Adress
					</h3>
					<ul class="contacts__list">
						<li class="contacts__item">
							5 Indian Spring Dr.
 Mundelein, IL 60060
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="contacts__map map">
		<div class="map__lable">
			<img class="map__icon" src="../images/icon/map.svg" alt="map">
		</div>
		<iframe class="map__frame" src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d47240.14603457741!2d-88.05521305904551!3d42.26765417733978!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1s5%20Indian%20Spring%20Dr.%20Mundelein%2C%20IL%2060060!5e0!3m2!1sen!2sua!4v1706634475441!5m2!1sen!2sua" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>
</section>