<footer class="footer">
	<div class="container">
		<div class="footer__inner">
			<a class="footer__logo logo" href="#">
				<img class="logo__img" src="../images/logo.svg" alt="logo" width="156" height="52">
			</a>
			<p class="footer__text">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Blandit id fringilla turpis tempor enim. Vel tristique suspendisse 
			</p>
			<nav class="footer__menu footer-menu">
				<ul class="footer-menu__list">
					<li class="footer-menu__item">
						<a class="footer-menu__link" href="#">
							Website development
						</a>
					</li>
					<li class="footer-menu__item">
						<a class="footer-menu__link" href="#">
							Branding
						</a>
					</li>
					<li class="footer-menu__item">
						<a class="footer-menu__link" href="#">
							UI/UX design
						</a>
					</li>
					<li class="footer-menu__item">
						<a class="footer-menu__link" href="#">
							Software
						</a>
					</li>
					<li class="footer-menu__item">
						<a class="footer-menu__link" href="#">
							Digital marketing
						</a>
					</li>
				</ul>
			</nav>
			<ul class="footer__social social">
				<li class="social__item">
					<a class="social__link" href="#">
						<img class="social__icon" src="../images/icon/facebook.svg" alt="facebook">
					</a>
				</li>
				<li class="social__item">
					<a class="social__link" href="#">
						<img class="social__icon" src="../images/icon/twitter.svg" alt="twitter">
					</a>
				</li>
				<li class="social__item">
					<a class="social__link" href="#">
						<img class="social__icon" src="../images/icon/instagram.svg" alt="instagram">
					</a>
				</li>
			</ul>
			<p class="footer__copy">
				Copyright © 2021. Raven Digital. All rights reserved.
			</p>
		</div>
	</div>
</footer>