<section class="hero">
	<div class="container">
		<div class="hero__inner">
			<div class="hero__content">
				<h1 class="hero__title">
					WE ARE DIGITAL AGENCY
				</h1>
				<p class="hero__text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Blandit id fringilla turpis tempor enim. Vel tristique suspendisse eget sodales egestas. Donec duis lacus, odio velit eu eget ac tortor. Ac sit ultricies hendrerit pellentesque arcu fames sit lectus. Scelerisque id bibendum velit cras. 
				</p>
				<button class="btn">
					Learn more
				</button>
			</div>
			<div class="hero__image">
				<img class="hero__img" src="../images/hero.png" alt="hero" >
			</div>
		</div>
	</div>
</section>