<section class="service">
	<div class="container">
		<h2 class="service__title title">
			What we do
		</h2>
		<ul class="service__list">
			<li class="service__item service-card">
				<h3 class="service-card__title">
					APP DEVELOPMENT
				</h3>
				<p class="service-card__text">
					Some quick example text to build on the card title and make up the bulk of the card's content.
				</p>
				<a class="service-card__link" href="#">
					Contact us
				</a>
				<div class="service-card__icon">
					<img class="service-card__img" src="images/icon/dev.svg" alt="dev">
				</div>
			</li>
			<li class="service__item service-card">
				<h3 class="service-card__title">
					WEBSITE DEVELOPMENT
				</h3>
				<p class="service-card__text">
					Some quick example text to build on the card title and make up the bulk of the card's content.
				</p>
				<a class="service-card__link" href="#">
					Contact us
				</a>
				<div class="service-card__icon">
					<img class="service-card__img" src="images/icon/web.svg" alt="web">
				</div>
			</li>
			<li class="service__item service-card">
				<h3 class="service-card__title">
					DIGITAL MARKETING
				</h3>
				<p class="service-card__text">
					Some quick example text to build on the card title and make up the bulk of the card's content.
				</p>
				<a class="service-card__link" href="#">
					Contact us
				</a>
				<div class="service-card__icon">
					<img class="service-card__img" src="images/icon/market.svg" alt="market">
				</div>
			</li>
			<li class="service__item service-card">
				<h3 class="service-card__title">
					DIGITAL MARKETING
				</h3>
				<p class="service-card__text">
					Some quick example text to build on the card title and make up the bulk of the card's content.
				</p>
				<a class="service-card__link" href="#">
					Contact us
				</a>
				<div class="service-card__icon">
					<img class="service-card__img" src="images/icon/market1.svg" alt="market1">
				</div>
			</li>
			<li class="service__item service-card">
				<h3 class="service-card__title">
					SEO & CONTENT WRITING
				</h3>
				<p class="service-card__text">
					Some quick example text to build on the card title and make up the bulk of the card's content.
				</p>
				<a class="service-card__link" href="#">
					Contact us
				</a>
				<div class="service-card__icon">
					<img class="service-card__img" src="images/icon/seo.svg" alt="seo">
				</div>
			</li>
			<li class="service__item service-card">
				<h3 class="service-card__title">
					GRAPHIC DESIGNING
				</h3>
				<p class="service-card__text">
					Some quick example text to build on the card title and make up the bulk of the card's content.
				</p>
				<a class="service-card__link" href="#">
					Contact us
				</a>
				<div class="service-card__icon">
					<img class="service-card__img" src="images/icon/des.svg" alt="des">
				</div>
			</li>
			<li class="service__item service-content">
				<h3 class="service-content__title">
					Solutions for
					your bussiness
				</h3>
				<p class="service-content__text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
				</p>
				<button class="btn">
					Learn more
				</button>
			</li>
		</ul>
	</div>
</section>