<section class="teams">
	<div class="container">
		<h2 class="teams__title title">
			Our team
		</h2>
		<ul class="teams__list">
			<li class="teams__item">
				<div class="teams-card">
					<img class="teams-card__img" src="../images/teams/1.jpg" alt="1">
					<div class="teams-card__content">
						<p class="teams-card__name">Jane Doe</p>
						<p class="teams-card__position">Company / CEO</p>
						<p class="teams-card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Blandit id fringilla turpis tempor enim. Vel tristique suspendisse </p>
						<ul class="teams-card__social social">
							<li class="social__item">
								<a class="social__link" href="#">
									<img class="social__icon" src="../images/icon/facebook.svg" alt="facebook">
								</a>
							</li>
							<li class="social__item">
								<a class="social__link" href="#">
									<img class="social__icon" src="../images/icon/twitter.svg" alt="twitter">
								</a>
							</li>
							<li class="social__item">
								<a class="social__link" href="#">
									<img class="social__icon" src="../images/icon/instagram.svg" alt="instagram">
								</a>
							</li>
						</ul>
					</div>
				</div>
			</li>
			<li class="teams__item">
				<div class="teams-card">
					<img class="teams-card__img" src="../images/teams/1.jpg" alt="1">
					<div class="teams-card__content">
						<p class="teams-card__name">Jane Doe</p>
						<p class="teams-card__position">Company / CEO</p>
						<p class="teams-card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Blandit id fringilla turpis tempor enim. Vel tristique suspendisse </p>
						<ul class="teams-card__social  social">
							<li class="social__item">
								<a class="social__link" href="#">
									<img class="social__icon" src="../images/icon/facebook.svg" alt="facebook">
								</a>
							</li>
							<li class="social__item">
								<a class="social__link" href="#">
									<img class="social__icon" src="../images/icon/twitter.svg" alt="twitter">
								</a>
							</li>
							<li class="social__item">
								<a class="social__link" href="#">
									<img class="social__icon" src="../images/icon/instagram.svg" alt="instagram">
								</a>
							</li>
						</ul>
					</div>
				</div>
			</li>
			<li class="teams__item">
				<div class="teams-card">
					<img class="teams-card__img" src="../images/teams/2.jpg" alt="2">
					<div class="teams-card__content">
						<p class="teams-card__name">Jane Doe</p>
						<p class="teams-card__position">Company / CEO</p>
						<p class="teams-card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Blandit id fringilla turpis tempor enim. Vel tristique suspendisse </p>
						<ul class="teams-card__social  social">
							<li class="social__item">
								<a class="social__link" href="#">
									<img class="social__icon" src="../images/icon/facebook.svg" alt="facebook">
								</a>
							</li>
							<li class="social__item">
								<a class="social__link" href="#">
									<img class="social__icon" src="../images/icon/twitter.svg" alt="twitter">
								</a>
							</li>
							<li class="social__item">
								<a class="social__link" href="#">
									<img class="social__icon" src="../images/icon/instagram.svg" alt="instagram">
								</a>
							</li>
						</ul>
					</div>
				</div>
			</li>
			<li class="teams__item">
				<div class="teams-card">
					<img class="teams-card__img" src="../images/teams/3.jpg" alt="3">
					<div class="teams-card__content">
						<p class="teams-card__name">Jane Doe</p>
						<p class="teams-card__position">Company / CEO</p>
						<p class="teams-card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Blandit id fringilla turpis tempor enim. Vel tristique suspendisse </p>
						<ul class="teams-card__social social">
							<li class="social__item">
								<a class="social__link" href="#">
									<img class="social__icon" src="../images/icon/facebook.svg" alt="facebook">
								</a>
							</li>
							<li class="social__item">
								<a class="social__link" href="#">
									<img class="social__icon" src="../images/icon/twitter.svg" alt="twitter">
								</a>
							</li>
							<li class="social__item">
								<a class="social__link" href="#">
									<img class="social__icon" src="../images/icon/instagram.svg" alt="instagram">
								</a>
							</li>
						</ul>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>