<section class="testimonials">
	<div class="container">
		<div class="swiper">
			<!-- Additional required wrapper -->
			<div class="swiper-wrapper">
					<!-- Slides -->
					<div class="swiper-slide">
						<div class="testimonials__item">
							<img class="testimonials__img" src="images/testimon.jpg" alt="testimonials">
							<div class="testimonials__content">
								<h2 class="testimonials__title title">
									Testimonials
								</h2>
								<p class="testimonials__name">Jane Doe</p>
								<p class="testimonials__position">Company / CEO</p>
								<div class="testimonials__text">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Blandit id fringilla turpis tempor enim. Vel tristique suspendisse eget sodales egestas. Donec duis lacus, odio velit eu eget ac tortor. Ac sit ultricies hendrerit pellentesque arcu fames sit lectus. Scelerisque id bibendum velit cras. 
									</p>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Blandit id fringilla turpis tempor enim. Vel tristique suspendisse eget sodales egestas. 
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="testimonials__item">
							<img class="testimonials__img" src="images/testimon.jpg" alt="testimonials">
							<div class="testimonials__content">
								<h2 class="testimonials__title title">
									Testimonials
								</h2>
								<p class="testimonials__name">Jane Doe</p>
								<p class="testimonials__position">Company / CEO</p>
								<p class="testimonials__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Blandit id fringilla turpis tempor enim. Vel tristique suspendisse eget sodales egestas. Donec duis lacus, odio velit eu eget ac tortor. Ac sit ultricies hendrerit pellentesque arcu fames sit lectus. Scelerisque id bibendum velit cras. 
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Blandit id fringilla turpis tempor enim. Vel tristique suspendisse eget sodales egestas. 
								</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="testimonials__item">
							<img class="testimonials__img" src="images/testimon.jpg" alt="testimonials">
							<div class="testimonials__content">
								<h2 class="testimonials__title title">
									Testimonials
								</h2>
								<p class="testimonials__name">Jane Doe</p>
								<p class="testimonials__position">Company / CEO</p>
								<p class="testimonials__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Blandit id fringilla turpis tempor enim. Vel tristique suspendisse eget sodales egestas. Donec duis lacus, odio velit eu eget ac tortor. Ac sit ultricies hendrerit pellentesque arcu fames sit lectus. Scelerisque id bibendum velit cras. 
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Blandit id fringilla turpis tempor enim. Vel tristique suspendisse eget sodales egestas. 
								</p>
							</div>
						</div>
					</div>
			</div>
			<!-- If we need pagination -->
			<div class="swiper-pagination">
			</div>
	</div>
</section>