<section class="works">
	<div class="container">
		<h2 class="works__title title">
			Our works
		</h2>
	
		<div class="works__content">
			<div class="works__row1">
				<a class="works__link" href="#">
					<img class="works__img" src="images/works/work1.jpg" alt="work1">
				</a>
				<a class="works__link" href="#">
					<img class="works__img" src="images/works/work2.jpg" alt="work2">
				</a>
				<a class="works__link" href="#">
					<img class="works__img" src="images/works/work3.jpg" alt="work3">
				</a>
			</div>
			<div class="works__row2">
				<div class="works__link works-content">
					<h3 class="works-content__title">
						Solutions for
						your bussiness
					</h3>
					<p class="works-content__text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
					</p>
					<button class="btn">
						See more
					</button>
				</div>
				<a class="works__link" href="#">
					<img class="works__img" src="images/works/work4.jpg" alt="work4">
				</a>
				<a class="works__link" href="#">
					<img class="works__img" src="images/works/work5.jpg" alt="work5">
				</a>
			</div>
		</div>
	</div>
</section>