.achievements {
	padding: 91px 0 110px 0;
	background-color: #2B61F7;
	margin-bottom: 120px;

	@include mq('tablet'){
		padding: 50px 0;
	}

	&__list {
		display: flex;
		justify-content: space-around;

		@include mq('tablet'){
			justify-content: space-between;
		}

		@include mq('phone'){
			flex-direction: column;
			align-items: center;
			gap: 30px;
		}
	}


}

.counter {
	width: 150px;

	@include mq('tablet'){
		width: 100px;
	}


	&__number {
		font-size: 48px;
		font-weight: 700;
		display: block;

		@include mq('tablet'){
			font-size: 32px;
		}

	}

	&__text {
		font-size: 24px;
		font-weight: 700;
		text-transform: uppercase;
		color: #8FC2FF;

		@include mq('tablet'){
			font-size: 18px;
		}
	}
}