.clients {
	padding: 65px 0;
	background-color: #0A0F14;
	margin-bottom: 155px;

	&__title{
		margin-bottom: 25px;
	}

	&__list {
		display: flex;
		gap: 20px;
		justify-content: space-between;
		align-items: center;

		@include mq('phone') {
			flex-direction: column;
		}
	}
}