.header {
	padding: 48px 120px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 88px;
	position: relative;

	@include mq('fullHd') {
		padding: 48px 80px;
	}

	@include mq('tablet'){
		margin-bottom: 40px;
	}

	@include mq('phone') {
		padding: 25px 15px;
		margin-bottom: 25px;
	}

	&__logo {
		flex-shrink: 0;

		@include mq('phone') {
			width: 120px;
		}
	}
}

.menu {
	&__list {
		display: flex;
		align-items: center;

		@include mq('desktop-1') {
			display: none;
		}
	}

	&__item:not(:last-child) {
		margin-right: 60px;
	}

	&__link {
		font-weight: 500;
		transition: color ease-in-out 0.5s;

		&:hover {
			color: $accent;
		}
	}

	&__btn {
		background-color: transparent;
		padding: 0;
		border: none;
		outline: none;
		cursor: pointer;
		position: relative;
		z-index: 3;
		margin: 0 7px 0 20px;
		display: none;

		@include mq ('desktop') {
			display: block;
		}

	}

	&__btn::after,
	&__btn::before {
		content: '';
		width: 30px;
		height: 2px;
		background-color: #fff;
		display: block;
		margin-bottom: 8px;
		transition: transform .3s;
	}

	&__btn::after {
		margin-bottom: 0;
	}

	&__line {
		background-color: #fff;
		display: block;
		width: 30px;
		height: 2px;
		margin-bottom: 8px;
		opacity: 1;
		transition: opacity .6s;
	}
}

.side-menu {
	position: absolute;
	background-color: #110a0a;
	width: 300px;
	height: 100vh;
	top: 0;
	left: 0;
	transform: translateX(-200%);
	transition: transform 0.5s ease-in-out;
	z-index: 40;

	&__logo {
		display: inline-block;
		margin: 25px 0 25px 15px;

		@include mq('phone') {
			width: 115px;
			height: 23px;
		}
	}

	&__btn {
		position: absolute;
		top: 45px;
		right: 26px;

		&::after,
		&::before {
			content: '';
			width: 25px;
			height: 2px;
			background-color: $accent;
			display: block;
			margin-bottom: 8px;
			border-radius: 2px;
			transition: transform .3s;
		}

		&::after {
			margin-bottom: 0;
			transform: translateY(-10px) rotate(-135deg);
		}

		&::before {
			transform: translateY(0) rotate(135deg);
		}
	}

	.menu__list {
		flex-direction: column;
		border-top: 1px solid #EEEFF3;
		border-bottom: 1px solid #EEEFF3;
		width: 100%;
		padding: 25px 15px;
		margin-bottom: 15px;
		display: block;
	}

	.menu__item:not(:last-child) {
		margin-bottom: 20px;
	}

	.contacts {
		padding-left: 15px;
	}

	&--active {
		transform: translateX(0);

		&::before {
			content: '';
			position: absolute;
			background-color: rgba($color: #000000, $alpha: 0.5);
			top: 0;
			left: 300px;
			width: calc(100vw - 300px);
			height: 100vh;
			display: block;
		}
	}

}

.socials {
	position: fixed;
	top: 500px;
	left: -500px;
	width: 1068px;
	padding: 17px 0 21px 0;
	border-bottom: 1px solid #606e7e;
	font-size: 18px;
	font-weight: 500;
	transform: rotate(270deg);

	@include mq('desktop-1'){
		display: none;
	}

	&__list {
		display: flex;
		justify-content: center;
	}

	&__item:not(:last-child) {
		margin-right: 50px;
	}

	&__link {
		transition: color ease-in-out 0.5s;

		&:hover {
			color: $accent;
		}
	}


}