.service {
	margin-bottom: 79px;

	&__title {
		text-align: center;
		margin-bottom: 78px;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 13px;

		@include mq('tablet-2'){
			grid-template-columns: repeat(3, 1fr);
		}

		@include mq('tablet'){
			grid-template-columns: repeat(2, 1fr);
		}

		@include mq('phone'){
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
}

.service-card {
	background-color: #1B2837;
	padding: 37px 16px 37px 24px;
	color: $accent-white;
	font-size: 16px;
	height: 345px;
	border-radius: 4px;
	position: relative;
	overflow: hidden;

	&:hover .service-card__icon::after {
		width: 548px;
		height: 548px;
	}
	

	&__title {
		font-size: 24px;
		font-weight: 800;
		margin-bottom: 36px;
		position: relative;
		z-index: 3;
	}

	&__text {
		font-weight: 400;
		margin-bottom: 36px;
		position: relative;
		z-index: 3;
	}

	&__link {
		font-weight: 500;
		text-decoration: underline;
		position: relative;
		z-index: 3;
	}

	&__icon {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 136px;
		height: 102px;
		background-color: $accent;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 70px 0 4px 4px;
		box-shadow: 0px 10px 29px rgba(64, 129, 255, 0.24);

		&::after {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			border-radius: 50%;
			background-color: $accent;
			z-index: 1;
			transition: width ease-in-out .7s, height ease-in-out .7s;
		}
	}

	&__img {
		z-index: 2;
	}
}

.service-content {
	padding: 50px 10px 20px 47px;
	grid-column: span 2;

	&__title {
		font-size: 32px;
		font-weight: 700;
		width: 253px;
		margin-bottom: 14px;
		text-transform: uppercase;
	}

	&__text {
		margin-bottom: 30px;
		max-width: 362px;
	}
}

